<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class = "row">
        <h1 class = "text-center">Registrar alumno</h1>
        <div class = "class= col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class = "card-body">
                <form th:action = "@{/alumnos/}" th:object = "${alumno}" method="POST">
                    <div class = "form-group">
                        <label>Rut:</label>
                        <input type = "text" name="rut" th:field="*{rut}" class="form-control" placeholder="12345678-9 ">
                    </div>
                    <div class = "form-group">
                        <label>Apellidos:</label>
                        <input type = "text" name="apellidos" th:field="*{apellidos}" class="form-control" placeholder="Ingrese sus apellidos ">
                    </div>
                    <div class = "form-group">
                        <label>Nombres:</label>
                        <input type = "text" name="nombres" th:field="*{nombres}" class="form-control" placeholder="Ingrese sus nombres ">
                    </div>
                    <div class = "form-group">
                        <label>Fecha de nacimiento:</label>
                        <input type = "text" name="fech_naci" th:field="*{fecha_nacimiento}" class="form-control" placeholder="aaaa-mm-dd ">
                    </div>
                    <div class="form-group">
                        <label>Tipo de colegio:</label>
                        <select name="tipoColegio" th:field="*{tipo_colegio}" class="form-control" placeholder="Seleccione su colegio">
                            <option value="Municipal">Municipal</option>
                            <option value="Subvencionado">Subvencionado</option>
                            <option value="Privado">Privado</option>
                        </select>
                    </div>
                    <div class = "form-group">
                        <label>Nombre de colegio:</label>
                        <input type = "text" name="nom_cole" th:field="*{nombre_colegio}" class="form-control" placeholder="Ingrese el colegio de egreso ">
                    </div>
                    <div class = "form-group">
                        <label>Año(s) desde que egreso:</label>
                        <input type = "number" name="anos-egre" th:field="*{ano_egreso}" class="form-control" placeholder="Años desde que egresó ">
                    </div>
                    <br>
                    <div class = "box-footer">
                        <button class = "btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>