<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cuotas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Inicio</a>
                <a class="nav-link" href="/nuevo/">Agregar Alumno</a>
                <a class="nav-link" href="/alumnos/">Listado de Alumnos</a>
                <a class="nav-link" href="/cuotas">Cuotas</a>
                <a class="nav-link" href="/alumnos/cuotas/crear">Crear Cuotas</a>
                <a class="nav-link" href="/subir-archivo">Subir Notas</a>
                <a class="nav-link" href="/reporte">Ver Reporte</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1 class="text-center">Cuotas</h1>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="card-body">
                <form action="/alumnos/cuotas/crear" method="POST">
                    <div class="form-group">
                        <label>Rut:</label>
                        <input type="text" name="rut" class="form-control" placeholder="12345678-9">
                    </div>
                    <div class="form-group">
                        <label>Cantidad de cuotas:</label>
                        <input type="number" name="cant_cuotas" class="form-control" placeholder="Ingrese la cantidad de cuotas">
                    </div>
                    <div class="form-group">
                        <label>Fecha de Emisión:</label>
                        <input type="date" name="fechaEmision" class="form-control">
                    </div>
                    <br>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

